* {
  font-family: "CaskaydiaCove Nerd Font Mono";
  font-size: 18px;
  min-height: 0;
}

/* Top bar */
window#waybar {
  background: #000000;
  animation: fadein 1s ease-out;
}

/* Bottom bar */
window#waybar.bottom {
  background: #000000;
  animation: fadein 1s ease-out;
}

/* common */
#workspaces,
#cpu,
#memory,
#battery,
#network,
#clock,
#tray,
#window,
#pulseaudio,
#backlight {
  padding: 0 8px;
  margin: 0 4px;
  border-radius: 6px;
  background: #000000;
  font-weight: bold;
  color: #ff0000;
  text-shadow: 0 0 4px #ff5555;
  transition:
    background 0.3s,
    box-shadow 0.3s;
}

#cpu:hover,
#memory:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#backlight:hover,
#clock:hover,
#tray:hover {
  background: #440000;
}

#workspaces button {
  color: #ff0000;
  background-color: #000000;
  text-shadow: 0 0 4px #ff5555;
  padding: 0 3px;
}
#workspaces button.urgent {
  background-color: #440000;
}

#window {
  background: #000000;
  border-radius: 10px;
  padding: 4px 10px;
}

#battery.warning {
  color: #ff8800;
}
#battery.critical:not(.charging) {
  background: #ff0000;
  color: #dd0000;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio,
#backlight {
  color: #ff0000;
}

@keyframes blink {
  to {
    color: #ff0000;
  }
}
